:root {
    --el-color-primary: #007c00 !important;
    --el-color-primary-dark-2: #339633 !important;
    --el-color-primary-light-3: #66B066 !important;
    --el-color-primary-light-5: #99CB99 !important;
    --el-color-primary-light-7: #B2D7B2 !important;
    --el-color-primary-light-8: #CCE5CC !important;
    --el-color-primary-light-9: #E5F2E5;
}